body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

/* ----- first section start----- */
.link_button{
    text-decoration: none;
    background-image: linear-gradient(orange, red)  ;

}


.second_part img{
    width: 556px;
    height: 432px;
}

.second_part img:hover{

    /* width: 400px;
    height: 400px; */
    transform: rotate(10deg);
 }

.second_part{
    transition: width 5s ease 1s, height 10s, transform 5s;
}


.top_full_part{
  
    background-color: #2D25A0;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    /* padding-left: 200px; */
    padding-top: 20px;
    /* padding-right: 300px; */
}



.first_part{
    padding-bottom: 100px;
}



.first_part h2{
color: white;
font-size: 64px;
font-weight: 700;

}

.link_button{
    padding: 2%;
}

/* ----- first section END----- */

/* ----- second section Start----- */

.second_section{

    padding-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

  .second_section .grid-container .grid-cell div img{
    width: 300px;
    height: 256px;
    padding-left: 20px;
    padding-top: 16px;
 


}

.grid-container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20%;
    padding-right: 10%;
    grid-row-gap: 28px;
   
    
   
    /* grid-row-gap: 40px; */
    
    
    
    
    
}


.grid-cell{
    box-shadow: 5px 5px 30px gray;
    /* border-radius: 25px; */
    padding-right: 25px;
/* width: fit-content; */
width: min-content;            

/* (----> {this point (width) facing problem} ------>) */

    
}

.details {

    padding-left: 20px;
    /* text-align: justify; */
    text-align: justify
}


/* footer Area styles */

#footer{
    margin: 60px 0;
   
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo img {
    width: 484px;
    height: 110px;
    padding-top: 50px;
  }

  .footer-social-icon {
    margin: 15px 0;
  }


  .footer-social-icon a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #969bab;
    background: #969bab48;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    margin: 0 7px;
    text-decoration: none;
  }

  .footer-content p {
    margin: 0;
    font-size: 18px;
    color: #0a0826;
  }
